.App{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}


.main__area{
  background-color: var(--deep-blue);
  color: aliceblue;
  border-radius: 8px;
  width: 370px;
  padding: 1rem;
  justify-self: center;
  align-self: center;
  box-shadow: 0 4px 10px 3px rgba(0,0,0,0.3) ;
}


.main__area input{
  width: 100%;
  padding:0.7rem 0.7rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
  /* background-color: red; */
  /* background-clip: border-box; */
}

.main__area input:focus{
  outline: none;
  border: 2px solid rgb(247, 128, 147);
}

.main__p{
    margin-bottom: 8px;
}.main__area div{
  font-weight: bold;
}


.letters{
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.letters > div{
  background-color: var(--sec-color);
  border-radius: 5px;
  width: 60px;
  height: 60px;
  font-weight: bold;
  place-self: center;
}